/* Universal rules */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Session One: Style header and elements */
/* style nav */
a {
  text-decoration: none;
  color: #e5e7eb;
}

/* list  style and positioning*/
ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  font-size: 16px;
}

/* Logo */
.header-main img {
  height: 40px;
  width: 150px;
}

/* Header position */
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
}

/* header */
.header {
  background-color: #1f2937;
  width: 100%;
}

/* Style placeholder image */
.header-body img {
  height: 200px;
  width: 300px;
} 

/* Style header */
.header-main p {
  color: #F9FAF8;
  font-size: 24px;
}
/* Style main text */
.header-text h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
}
/* Style secondary text */
.header-text p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
}

/* Style  */
.header-text {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 1px;
}

/* Position */
.header-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 70px;
  gap: 40px;
}
/* Style signup */
.signup {
  background-color: #3882F6;
  color: white;
  border: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 70px;
  min-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
/* --Session One--  */

/* --Session Two-- */

/* Style images */
.items img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  border: solid 1px;
}

/* position items */
  .illustration {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }

  /* Style main text */
  .second h2 {
    font-size: 36px;
    color:#1F2937;
    font-weight: 900px;
    text-align: center;
    margin-bottom: 30px;
  }

  /* Make text wrap */
  .items p {
    display: flex;
    flex-wrap: wrap;
  }
/* Session Two */

/* Session Three */

/* style class and position div */
.third-section {
  background-color: #E5E7EB;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  height: auto;
}